{% extends 'base.html' %}
{% load static %}

{% block title %}日記一覧 | Private Diary{% endblock %}

{% block active_ecsite_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
        <div class="my-div-style">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-8">
                <input type="text" class="form-control form-control-lg" placeholder="" name="search-text">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" type="submit"  aria-haspopup="true" aria-expanded="false" name="search-button">search</button>
                </div>
            
                <div class="dropdown col-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      一覧表示
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" name="time-button">新着順</button>
                      <button class="dropdown-item" name="price-button">価格順</button>
                      <button class="dropdown-item" name="order-button">注文数順</button>
                      <button class="dropdown-item" name="score-button">スコア順</button>
                    </div>
                  </div>
                </div>
            </form>
                {% for commodity in mycommodity_list %}
                <div class="row">
                        <div class="col-3">
                            <a href="{% url 'ecsitecore:commodity-detail' commodity.pk %}">
                                <img src="{{ commodity.photo.url }}" width="150" height="150"/>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'ecsitecore:commodity-detail' commodity.pk %}">
                            <h2 class="post-title">
                                {{ commodity.title}}
                            </h2>
                            <h4 class="post-subtitle">
                                {{commodity.price}}円
                            </h4>
                        </a>

                        </div>
                </div>
                <hr>
                {% empty %}
                    <p>商品がありません。</p>
                {% endfor %}
                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

</div>
{% endblock %}